.modal{
	padding-right: 0px !important;
}
@media (min-width: 1025px) { 
	.featured-slider.owl-carousel .owl-stage {
		padding-left: 0 !important;
	}
}
@media (max-width: 1550px) { 
	.about-skmo-left {
	    width: 55%;
	}
	.about-skmo-right {
	    width: 45%;
	}
	.about-skmo:after {
		width: 44% !important;
	}
}
@media (max-width: 1366px) { 
	.about-skmo:after {
		width: 47% !important;
	    right: 3% !important;
	}
	.about-skmo.featured-skmo:after {
		width: 44% !important;
	    right: 3% !important;
	}
	.about-skmo a.learnmore.ad {
		right: 3%;
	}
	.featured-skmo .text-style-1 {
		max-width: 600px;
	}
}
@media (max-width: 1280px) {
	.about-skmo:after {
		width: 47% !important;
	    right: 3% !important;
	}
	.about-skmo.featured-skmo:after {
		width: 43% !important;
	    right: 3% !important;
	}
	.top-head span.grey:before {
		bottom: 1px;
	}
	.top-head span.borde:before {
		bottom: 1px;
	}
	.section-banner .herocont .banner-hd {
		font-size: 50px;
		margin-bottom: 20px; 
	}
	.about-skmo .about-text h2 {
		font-size: 38px; 
		margin-top: 0; 
		margin-bottom: 15px; 
	}
	.about-skmo .about-text p {
		font-size: 18px;
		line-height: 1.7;
	}
	.top-head {
		font-size: 38px; 
	}
	.whysell-buy p {
		font-size: 18px;
	}
	.featured-skmo .text-style-1 {
		font-size: 18px;
	}
	.artisan .sub-head {
		font-size: 18px;
	}
	.auction-atrium .auction-sbhd {
		font-size: 18px;
		padding: 0;
	}
	.auction-atrium .item .detail-slid h5 {
	    font-size: 15px;
	}
	.art-circlesec .auction-sbhd {
		font-size: 18px;
	}
	.art-shopbg .art-text {
	    font-size: 42px;
	}
	.auction-atrium.supplies-art p.auction-sbhd {
		font-size: 18px;
	}
	.skeumo-mob p {
	    font-size: 18px;
	}
	.customer-main p {
		font-size: 18px;
	}
	.subscribe h6 {
	    font-size: 36px;
	}
	.subscribe p {
		font-size: 18px;
	}
	.about-skmo-right {
	    width: 40%;
	}
	.about-skmo .about-skmo-right .about-text p {
		font-size: 17px;
	}
	.main-heading {
		font-size: 38px;
	}
	.art-blog-page .page-title .text-content .blog-h {
		font-size: 38px;
	}
	.art-blog-detail-page .content-box .title{
		font-size: 38px;
	}
	.comman-heading .title {
		font-size: 38px;
	}
	.about-goods .title{
		font-size: 32px;
	}
	.invite-friends-page .page-title {
		font-size: 38px;
	}
	.event-page .page-title {
		font-size: 38px;
	}
	.event-page .tab-custom .event-list li .tab-content-inner .tab-text-content .date {
		font-size: 36px;
		width: 55px;
	}
	.event-page .tab-custom .event-list li .tab-content-inner .tab-text-content .tabs-h {
		font-size: 27px;
	}
	.event-detail-page .content .tabs-h {
		font-size: 30px;
	}
	.event-detail-page .content .description {
		font-size: 18px;
	}
}
@media (max-width: 1240px) {

}
@media (max-width: 1199px) {
	.whysell-buy .col-sm-8.m-top70 {
		margin-top: 40px; 
	}
	.whysell-buy .whysell-tab {
		margin: 45px 0;
	}
	.whysell-buy .whysell-tab li {
		margin-bottom: 20px; 
	}
	.artisan .sub-head {
		padding: 12px 0;
	}
	.customer-main .slider-testimonial .item h4 {
		font-size: 18px;
	}
	.skeumo-mob .owl-item.center .item img {
		top: 87px;
	}
	.auction-atrium .item .detail-slid h5 {
		padding-right: 25px; 
	}
	.col-sm-10.col-sm-offset-1 {
		width: 100%;
		margin-left: 0; 
	}
	.about-our-world .o-w-list li .o-w-box{
		padding: 70px 10px 10px
	}
	.about-our-world .o-w-list{
		margin: 0 -10px;
	}
	.about-our-world .o-w-list li{
		padding: 10px;
	}
	.font-20{
		font-size: 16px !important
	}
	.about-outstanding-team .aot-inner-list .aot-list{
		margin: 0 -10px;
	}
	.about-outstanding-team .aot-inner-list .aot-list li{
		padding: 10px;
	}
	.about-outstanding-team .aot-inner-list .aot-list li .aot-box .name{
		font-size: 20px;
	}
	.about-outstanding-team .aot-inner-list .aot-list li .aot-box .founder{
		font-size: 14px;
	}
	.about-outstanding-team .aot-inner-list .aot-list li .aot-box .user-img img{
		width: 180px;
		height: 180px;
	}
	.artist-profile-section .artist-profile-inner .art-sale-list li{
		width: 33.3%;
	}
	.auction-atrium-page .page-bannar .bannar-heading{
		font-size: 36px;
	}
	.terms-condition-page .page-title{
		font-size: 36px;
	}
	.notification-page .page-title{
		font-size: 36px;
	}
	.help-faq-page .custom-search-input, .help-faq-page .faq-accordion{
		margin-top: 20px;
	}
	.book-event-section .book-event-heading{
		font-size: 36px;
		margin-bottom: 30px;
	}
	.book-event-section{
		padding: 50px 0;
	}
}
@media (max-width: 1024px) {
	.auction-atrium.supplies-art h4 {
		font-size: 16px;
	}
	.section-banner .herocont .banner-hd {
	    font-size: 40px;
	    margin-bottom: 12px;
	    line-height: 1.1;
	}
	.section-banner .herocont .text-secbanner {
		font-size: 12px;
		padding-left: 65px;
	}
	.section-banner .herocont .text-secbanner:before {
		left: 0px;
		width: 54px;
		height: 2px;
		top: 11px;
	}
	.about-skmo-left {
		width: 100%;
		padding-left: 0;
		padding-right: 0; 
	}
	.about-skmo-right {
		width: 100%;
		text-align: center;
		padding: 50px 15px 30px;
		max-width: 100%;
		margin: 0 auto;
		float: none;
		overflow: hidden;
	}
	.about-skmo a.learnmore.ad {
		right: inherit;
		margin: 0 auto 0;
		position: relative;
		display: block;
		clear: both;
		width: 200px;
		padding: 12px 15px;
	}
	.about-skmo:after {
	    display: none;
	}
	.featured-left {
		width: 100%;
		float: left;
		margin-left: 0;
		padding-left: 0;
		padding-right: 0; 
	}
	.featured-right {
		width: 100%;
		float: left;
		margin-left: 0;
		padding-left: 0;
		padding-right: 0; 
	}
	.featured-right-content {
		width: 100%;
		float: left;
		text-align: center;
		padding-left: 15px;
		padding-right: 15px;
	}
	.about-skmo.featured-skmo .container-fluid {
		padding-left: 0;
		padding-right: 0;
	}
	.about-skmo.featured-skmo .row {
		margin-left: 0;
		margin-right: 0;
	}
	.whysell-buy {
		padding: 70px 0;
	}
	.whysell-buy .col-sm-8.m-top70 {
		width: 100%;
		text-align: center;
		max-width: 700px;
		margin: 40px auto 0;
		float: none;
	}
	.featured-skmo .text-style-1 {
	    margin: 0 auto 20px; 
	    color: #999999;
	    max-width: 700px;
	}
	.about-skmo .about-text h2 {
		color: #145caa;
	}
	.about-skmo .about-text p {
		color: #999;
		max-width: 700px;
		margin: 0 auto; 
	}
	.about-skmo a.learnmore.ad {
		color: #fff;
		background-color: #145caa;
	}
	.about-skmo .about-text h2 {
	    font-size: 30px;
	}
	.about-skmo .about-skmo-right .about-text p {
	    font-size: 16px;
	    line-height: 26px;
	}
	.top-head {
	    font-size: 30px;
	}
	.whysell-buy .whysell-tab {
	    margin: 30px 0;
	}
	.whysell-buy .whysell-tab li {
	    margin-bottom: 7px;
	}
	.whysell-buy p {
	    font-size: 16px;
	    line-height: 26px;
	}
	.featured-skmo .learnmore {
		background-color: #145caa;
		color: #fff;
	}
	.art-category .top-head {
		text-align: center;
	}
	.artisan {
		padding: 70px 0 70px;
	}
	.art-margin-t-50 {
	    margin-top: 25px;
	}
	.art-shopbg .art-text {
	    font-size: 30px;
	}
	.art-shopbg .BtnName {
		padding: 12px 15px;
		width: 200px;
		margin-top: 35px;
	}
	.auction-atrium.supplies-art .drw-hd {
	    font-size: 12px;
	    margin-bottom: 5px;
	}
	.auction-atrium.supplies-art h4 {
	    font-size: 14px;
	        margin: 4px 0;
	}
	.auction-atrium.supplies-art p {
	    font-size: 13px;
	}
	.skeumo-mob p {
	    font-size: 16px;
	}
	.customer-main p {
	    font-size: 16px;
	}
	.subscribe h6 {
	    font-size: 30px;
	}
	.subscribe p {
	    font-size: 16px;
	    margin: 15px 0 25px;
	}
	.whysell-buy .m-bottom50 {
	    margin-bottom: 40px;
	}
	.auction-atrium.supplies-art .visitshop {
		padding: 12px 15px;
		width: 200px;
	}
	.auction-atrium .auction-sbhd {
	    font-size: 16px;
	}
	.auction-atrium.supplies-art p.auction-sbhd {
	    font-size: 16px;
	}
	.featured-skmo .text-style-1 {
	    font-size: 16px;
	}
	.artisan .sub-head {
	    font-size: 16px;
	}
	.main-heading {
	    font-size: 30px;
	}
	.cart-price {
	    font-size: 22px;
	}
	.cart-price span {
	    font-size: 16px;
	}
	.cart-total-table tr td {
	    font-size: 16px;
	}
	.cart-total-table tr th {
	    font-size: 13px;
	}
	.cart-total-table tr th.subt {
		font-size: 15px;
	}
	.cart-total-table tr th.total-label {
		font-size: 16px;
	}
	.cart-total-table tr td.total-price {
		font-size: 26px;
	}
	.art-blog-page .blog-main-content li .text-content-box .title {
		font-size: 19px;
		line-height: 1.40;
	}
	.art-blog-page .page-title .text-content .blog-h {
		font-size: 30px;
	}
	.art-blog-detail-page .content-box .title{
		font-size: 30px;
	}
	.comman-heading .title {
		font-size: 30px;
	}
	.curators-section .curators-list li .a-box .right-block .name {
		font-size: 18px;
	}
	.artists-section .artists-list li .a-box .right-block .name {
		font-size: 18px;
	}
	.shipping-dtl-heading {
		font-size: 20px;
	}
	.add-address-heading {
	    font-size: 20px;
	}
	.sub-heading {
		font-size: 20px;
	}
	.complete-logo img {
		max-width: 120px;
	}
	.invite-friends-page .page-title {
		font-size: 30px;
	}
	.invite-friends-page .by-email button.btn {
		font-size: 16px;
	}
	.event-page .page-title {
	    font-size: 30px;
	}
	.event-page .tab-custom .event-list li .tab-content-inner .tab-text-content .tabs-h {
	    font-size: 24px;
	}
	.event-page .tab-custom .event-list li .tab-content-inner .tab-text-content ul {
		margin-top: 5px;
	}
	.event-page .tab-custom .event-list li .tab-content-inner .right-content .tab-p {
		margin-top: 8px;
	}
	.event-page .tab-custom .event-list li .tab-content-inner .tab-text-content .right-content {
		padding-left: 95px;
	}
	.event-page .nav-tabs li a,
	.event-page .nav-tabs li.active a {
		font-size: 17px;
	}
	.event-page .tab-custom {
		margin-top: 45px;
	}
	.event-page .tab-custom .event-list li .tab-content-inner .tab-text-content {
		padding: 40px 35px 36px;
	}
	.event-page .tab-custom .event-list {
		padding-top: 30px;
	}
	.event-page .tab-custom .event-list .event-list-li {
		margin-bottom: 40px;
	}
	.event-page .tab-custom {
	    margin-top: 25px;
	}
	.event-detail-page .content .tabs-h {
		font-size: 26px;
	}
	.event-detail-page .content .description {
	    font-size: 16px;
	}
	.art-dtl-heading {
		font-size: 27px;
	}
	.art-dtl-price {
		font-size: 24px;
	}
	.vd-table .video-heading {
		line-height: 1.2;
	}
	.action-box {
		margin: 0 -7px; 
	}
	.action-box li {
		padding: 0 7px;
	}
	.right-calendar .calendar-icon {
		width: 40px;
    	height: 40px;
		line-height: 40px;
		font-size: 16px;
	}
	.manage-event-box .me-right-block .title-head {
		font-size: 22px;
	}
	.manage-event-box .me-left .position-day .date-text span {
		font-size: 36px;
	}

}
@media (max-width: 992px) {
	nav.navbar.bootsnav .navbar-brand {
		float: left !important;
		padding: 15px 0;
		display: block;
	}
	.login-sec {
		margin-right: 45px;
	}
	nav.navbar.bootsnav .navbar-header {
		min-height: 76px;
	}
	nav.navbar.bootsnav .navbar-collapse.collapse {
		display: block !important;
	    overflow-y: auto !important;
	    height: 100vh !important;
	}
	.nav-menu ul.nav > li > a {
		color: #fff;
	}
	/****Menu CSS***/
	.mobile-inner-header {
		position: absolute;
		top: 20px;
		right: 0;
	}
    .responsive-menu-bar .navbar {
    	position: relative;
    	padding: 0;
    }
	.menu-for-desktop {
	    display: none;
	}
	.menu-for-mobile {
	    display: block;
	}

	.navbar-toggler-right {
	    display: inline-block;
	    margin-top: 3px;
	}
	.responsive-menu-bar {
        background-color: rgba(3,28,62,1);
        width: 300px;
        position: fixed;
        top: 0;
        right: -300px;
        padding-top: 0;
        padding-bottom: 0;
        z-index: 9;
        height: 100vh;
        transition: all 0.5s ease-in-out 0s;
        -webkit-transition: all 0.5s ease-in-out 0s;
	}
    .responsive-menu-bar.menu-active {
    	right: 0;
    }
    .mobile-inner-nav {
        overflow-y: auto;
        height: 87vh;
        margin-top: 60px;
    }
    .mobile-inner-header-icon{
        color: #ffffff;
        font-size:25px;
        text-align: center;
        float:right;
        position: relative;
        -webkit-transition: background 0.5s;
        -moz-transition: background 0.5s;
        -o-transition: background 0.5s;
        transition: background 0.5s;
        margin-top: 6px;
    }
    .mobile-inner-header-icon{
        color: #ffffff;
        height: 30px;
        font-size:25px;
        text-align: center;
        float:right;
        width: 30px;
        position: relative;
        -webkit-transition: background 0.5s;
        -moz-transition: background 0.5s;
        -o-transition: background 0.5s;
        transition: background 0.5s;
        z-index: 99;
        margin-top: 11px;
    }
    .mobile-inner-header-icon:hover{
        cursor: pointer;
    }
    .mobile-inner-header-icon span{
        position: absolute;
        left: calc((100% - 20px) / 2);
        top: calc((100% - 20px) / 2);
        width: 20px;
        height: 2px;
    }
    .header.header-black .mobile-inner-header-icon span,
    .header.fixed-header .mobile-inner-header-icon span {
        background-color: rgb(48, 48, 48);
    }
    .header .mobile-inner-header-icon span {
        background-color: rgb(20, 92, 170);
    }
    .header .mobile-inner-header-icon.mobile-inner-header-icon-click span {
        background-color: rgb(255, 255, 255);
    }
    .mobile-inner-header-icon span:nth-child(1){
        transform: translateY(4px) rotate(0deg);
    }
    .mobile-inner-header-icon span:nth-child(2){
        transform: translateY(-4px) rotate(0deg);
    }
    .mobile-inner-header-icon span:nth-child(3){
        display: none;
    }
        
    .mobile-inner-header-icon-click span:nth-child(1){
        animation-duration: 0.5s;
        animation-fill-mode: both;
        animation-name: clickfirst;
    }       
    .mobile-inner-header-icon-click span:nth-child(2){
        animation-duration: 0.5s;
        animation-fill-mode: both;
        animation-name: clicksecond;
    }
    @keyframes clickfirst {
      0% {
          transform: translateY(4px) rotate(0deg);
      }

      100% {
        transform: translateY(0) rotate(45deg);
      }
    }   
    @keyframes clicksecond {
      0% {
          transform: translateY(-4px) rotate(0deg);
      }
      100% {
        transform: translateY(0) rotate(-45deg);
      }
    }   
    .mobile-inner-header-icon-out span:nth-child(1){
        animation-duration: 0.5s;
        animation-fill-mode: both;
        animation-name: outfirst;
        }       
    .mobile-inner-header-icon-out span:nth-child(2){
        animation-duration: 0.5s;
        animation-fill-mode: both;
        animation-name: outsecond;
        margin-top: 3px;
        top: calc((100% - 19px) / 2);
        }
    .mobile-inner-header-icon-out span:nth-child(3){
        display: block;
        top: calc((100% - 17px) / 2);
    }
    @keyframes outfirst {
      0% {
        transform: translateY(0) rotate(-45deg);
      }

      100% {
        transform: translateY(-4px) rotate(0deg);
      }
    }   
    @keyframes outsecond {
      0% {
        transform: translateY(0) rotate(45deg);
      }

      100% {
        transform: translateY(4px) rotate(0deg);
      }
    }
    .responsive-menu-bar .navbar-nav {
        width: 100%;
        text-align: center;
        top: inherit;
	    position: relative;
	    margin-top: 0;
	    padding: 50px 0 0;
	    float: left;
	}
    .responsive-menu-bar .navbar-nav li {
        display: block;
        float: left;
        width: 100%;
    }
    .responsive-menu-bar .navbar-nav li a {
        color: #fff;
        text-transform: capitalize;
        text-align: left;
    }
    .overflow-active {
        overflow: hidden;
    }
    .mobile-inner-header-icon.mobile-inner-header-icon-click {
     	position: fixed;
	    right: 15px;
    }
    .responsive-menu-bar .navbar-nav ul.dropdown-opt li a {
        padding: 5px 20px !important;
    }
    .responsive-menu-bar .dropdown-list .dropdown-opt {
	    position: inherit;
	    top: inherit;
	    width: 100%;
	    background-color: transparent;
	    display: none;
	    box-shadow: none;
	        padding: 0 0 0 15px;
	}
	.responsive-menu-bar .dropdown-list:hover .dropdown-opt {
		display: block;
	}
    /***End Menu CSS***/ 
	.search-sec {
	    top: 127px;
	}
}
@media (max-width: 991px) {
	.header .container {
		width: 100%;
	}
	.footer-links .container {
		width: 100%;
	}
	footer .container {
		width: 100%;
	}
	.auction-atrium.supplies-art .row.m-top30 .col-sm-3 {
		width: 50%;
		margin-bottom: 30px;
	}
	.auction-atrium.supplies-art  .row.m-top70.m-bottom30 {
		margin-top: 30px;
	}
	.top-head span.grey:before,
	.top-head span.borde:before {
		height: 7px;
	}
	.auction-atrium .col-sm-8.col-sm-offset-2 {
		width: 100%;
		margin-left: 0; 
	}
	.art-circlesec .detail-artcirc h5 {
		margin-left: 15px;
	}
	.subscribe h6 {
	    font-size: 28px;
	}
	.about-skmo {
		padding-top: 0;
	}
	.shopping-right .row.margin_top25,
	.shopping-right .row.margin_top16 {
		margin-top: 11px;
	}
	.shopping-right .cart-content {
		height: 30px;
		overflow-y: auto;
	}
	.shopping-right .row.margin_top16 .text-left.cart-link {
		padding-bottom: 11px;
	}
	.shopping-right .row.margin_top16 .text-left.cart-link,
	.shopping-right .row.margin_top16 .col-sm-5.text-right {
		width: 100%;
		text-align: left;
	}
	.cart-textarea textarea.form-control {
	    height: 108px;
	}
	.shopping-right {
		padding-left: 20px;
	}
	.artists-section .artists-list li{
		width: 50%;
	}
	.curators-section .curators-list li{
		width: 50%;
	}
	.art-blog-page .blog-main-content ul{
		padding: 0px;
	}
	.art-blog-page .page-title .text-content{
		padding-left: 0px;
	}
	.about-goods .title{
		font-size: 24px;
	}
	.about-goods .description{
		font-size: 14px;
		font-weight: 400;
	}
	.about-goods .col-half.right-col{
		padding-left: 25px;
		padding-right: 25px;
	}
	.about-our-world .o-w-list li .o-w-box .title{
		font-size: 16px;
	}
	.about-our-world .o-w-list li .o-w-box .description{
		font-size: 14px;
	}
	.about-our-world .o-w-list li .o-w-box{
		min-height: 240px;
	}
	.blue-filter-sec{
		padding-bottom: 14px;
	}
	.category-view-page .grid{
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap:15px;
	}
	.category-view-page .page-title{
		font-size: 34px;
	}
	.blue-filter-sec .button-group{
		margin-bottom: 10px;
	}
	.blue-filter-sec .button-group.pull-right{
		float: left !important
	}
	.blue-filter-sec .button-group .dropdown-toggle.clear-all{
		padding-left: 0px;
	}
	.category-view-page .page-title span{
		top: -7px;
	}
	.art-supply-shop-page .featured-products-sec{
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.art-dtl-price {
		margin: 10px 0; 
	}
	.art-user {
		margin: 12px 0; 
	}
	.art-dtl-info span {
		line-height: 14px;		
	}
	.vd-table .vd-right {
		padding-left: 20px;
	}

	/*----24-10-2018-----*/
	.attr-nav > ul {
    padding: 0;
    padding-right: 0px!important;margin-right:0px!important;}
    .attr-nav > ul > li.profile-menu {
    	margin-right: 40px;
    }
    .dropdown-list .profile-icon{
    	margin-right:0;
    }

    .terms-condition-page .page-title{
		font-size: 24px;
	}
	.terms-condition-page .page-title-sub{
		font-size: 14px;
	}
	.p-box{
		font-size: 14px;
	}
	.h-heading{
		font-size: 18px;
	}
	.terms-condition-page{
		padding: 40px 0;
	}
	.notification-page .page-title-sub{
		font-size: 14px;
	}
	.notification-page .page-title{
		font-size: 24px;
	}
	.help-faq-page .faq-accordion .panel-title > a{
		padding: 10px 20px;
		font-size: 14px;
	}
	.help-faq-page .faq-accordion .accordion-text{
		font-size: 14px;
		margin-bottom: 15px;
	}
	.book-event-section .book-event-heading{
		font-size: 24px;
		margin-bottom: 20px;
	}
	.book-event-section .full-calendar-section .fc-basic-view .fc-day-number{
		padding-top: 5px;
		padding-right: 5px;
		font-size: 12px;
	}
	.book-event-section .full-calendar-section .fc-day-grid-event{
		margin-top: 0px;
		margin-right: 2px;
		padding: 5px;
	}
	.book-event-section .full-calendar-section .fc-day-grid-event .fc-title{
		font-size: 10px;
		font-weight: 500;
	}
}

@media (max-width: 767px) {
	.search-list-div {
		width: 33.33%;
	}
	.search-list-sec {
		padding: 0 30px;
	}
	.search-list-sec .search-list-div:nth-child(4),
	.search-list-sec .search-list-div:nth-child(5) {
		margin-top: 40px;
	}
	.footer-links .col-sm-3:first-child {
		margin-left: 20% 
	}
	.footer-links .col-sm-3 {
		width: 30%;
		float: left;
	}
	.footer-links .col-xs-12 {
		text-align: center;
		padding-top: 30px;
	}
	footer {
		padding: 20px 0;
	}
	.m-bottom20.secure-payment-list {
		margin-top: 30px;
	}
	.copyright .col-xs-12 {
		text-align: center;
	}
	footer ul.links {
		margin-bottom: 3px;
	}
	.customer-main .circle-icon.circle1,
	.customer-main .circle-icon.circle2,
	.customer-main .circle-icon.circle3,
	.customer-main .circle-icon.circle4,
	.customer-main .circle-icon.circle5,
	.customer-main .circle-icon.circle6,
	.customer-main .circle-icon.circle7,
	.customer-main .circle-icon.circle8 {
		display: none;
	}
	.customer-main .slider-testimonial .owl-nav button.owl-prev,
	.customer-main .slider-testimonial .owl-nav button.owl-next {
		height: 52px;
	}
	.subscribe .row {
		max-width: 580px;
		margin: 0 auto;
	}
	.subscribe .row .col-sm-6.col-xs-8 {
		width: 75%;
	}
	.subscribe .row .col-sm-2.col-xs-4 {
		width: 25%;
	}
	.slider-testimonial {
	    margin-top: 0;
	}
	.customer-main .slider-testimonial .item h4 {
	    font-size: 16px;
	}
	.customer-main {
		padding: 60px 0;
	}
	.auction-atrium.supplies-art .row.m-top30 .col-sm-3 {
		float: left;
	}
	.subscribe h6 br {
		display: none;
	}
	.flexbox {
		max-width: 400px;
		margin: 0 auto;
	}
	.art-circlesec .auction-sbhd {
	    font-size: 16px;
	}
	.rs-p-left0 {
		padding-left: 15px;
	}
	.art-shopbg .art-text {
	    line-height: 40px;
	}
	.art-category .view-all-categories {
		margin: 0 auto;
		float: none;
		display: block;
		width: 260px;
	}
	.art-shopbg .art-text br {
		display: none;
	}
	.section-banner .herocont .banner-hd {
	    font-size: 30px;
	    line-height: 1.15;
	}
	.about-skmo .about-text h2 {
	    font-size: 26px;
	}
	.whysell-buy .whysell-tab li a {
		padding-top: 5px;
		padding-bottom: 5px;
		font-size: 16px;
	}
	.about-skmo.featured-skmo {
	     padding-top: 60px; 
	}
	.subscribe form .col-sm-2 {
	    padding-left: 15px;
	}
	/**Shopping Cart**/
	.shopping-cart-table {
		display: block;
		float: left;
	}
	.shopping-left,
	.shopping-right {
		width: 100%;
		display: block;
		float: left;
	}
	.shopping-left img {
		max-width: 250px;
		margin: 0 auto;
		display: block;
	}
	.shopping-right {
		padding-left: 0;
		padding-top: 30px;
	}
	.shopping-cart .main-heading {
		text-align: center;
	}
	.shopping-cart {
		padding-bottom: 70px;
	}
	.modal-dialog{
		margin: 30px auto;
	}
	.comman-heading .title{
		font-size: 32px
	}
	.comman-heading .sub-title{
		font-size: 14px;
	}
	.art-blog-page .page-title .text-content{
		padding: 40px 0;
	}
	.art-blog-page .page-title{
		min-height: 0px;
	}
	.art-blog-page .blog-main-content li{
		width: 100%;
		padding: 0px;
	}
	.art-blog-page .blog-main-content{
		padding-top: 15px;
		padding-bottom: 50px;
	}
	.art-blog-detail-page .content-box .blog-lbl-btn{
		margin-bottom: 10px;
		float: left;
	}
	.col-sm-4.text-right{
		text-align: left;
		margin-top: 10px;
		overflow: hidden;
		width: 100%;
	}
	.art-blog-detail-page .content-box .social-bottom{
		margin-top: 20px;
	}
	.art-blog-detail-page .content-box .p-box{
		font-size: 14px;
	}
	.margin-top50{
		margin-top: 20px;
	}
	.about-goods{
		padding: 30px 0 10px;
	}
	.about-goods .col-half{
		display: none;
	}
	.about-goods .col-half.right-col{
		display: block;
		width: 100%;
		max-width: 100%;
		text-align: left;
		padding: 0 15px 30px;
		overflow: hidden;
		text-align: center;
	}
	.about-goods .rows{
		display: block;
	}
	.about-goods .title{
		font-size: 20px;
	}
	.about-our-world .o-w-list{
		margin: 0px;
	}
	.about-our-world .o-w-list li{
		width: 100%;
		padding: 0 0 30px;
		text-align: center;
	}
	.about-our-world .o-w-list li .o-w-box{
		float: none;
		width: 300px;
		margin: 0 auto 50px;
	}
	.about-our-world, .about-outstanding-team, .about-customers, .about-top-section{
		padding: 50px 0;
	}
	.about-outstanding-team .aot-inner-list .aot-list li .aot-box{
		min-height: 0px;
		padding: 25px 10px 10px;
		float: none;
		width: 300px;
		margin: 0 auto;
		overflow: hidden;
	}
	.about-outstanding-team .aot-inner-list .aot-list{
		margin: 0px;
	}
	.about-outstanding-team .aot-inner-list .aot-list li{
		padding: 0 0 25px;
		width: 100%;
		text-align: center;
	}
	.about-outstanding-team .aot-inner-list .aot-list li .aot-box .name{
		font-size: 16px;
	}
	.about-outstanding-team .aot-inner-list .aot-list li .aot-box .user-img img{
		width: 180px;
		height: 180px;
	}
	.about-customers .ac-inner .ac-list{
		margin: 0px;
	}
	.about-customers .ac-inner .ac-list li{
		width: 50%;
	}
	.about-top-section{
		text-align: center;
	}
	.artist-profile-section .artist-profile-inner .art-sale-list li{
		width: 50%;
	}
	.artist-profile-section .artist-profile-inner .name{
		font-size: 18px;
	}
	.artist-profile-section .artist-profile-inner .button-link-row{
		margin-bottom: 20px;
	}
	.artist-profile-section .artist-profile-inner .button-link-row a{
		margin-bottom: 10px;
	}
	.artist-profile-section{
		padding-bottom: 50px;
	}
	.category-view-page .grid{
		grid-template-columns: 1fr 1fr;
		grid-gap:15px;
	}
	.category-view-page .page-title{
		font-size: 24px;
		padding: 25px 0;
	}
	.blue-filter-sec .button-group{
		margin-bottom: 10px;
	}
	.category-view-page .page-title span{
		top: -4px;
	}
	.category-view-page .page-title span img{
		width: 20px;
	}
	.category-view-page .grid .grid-item{
		margin-bottom: 10px;
	}
	.art-supply-shop-page .art-supluy-slide{
		margin: 20px 0 40px;
	}
	.art-supply-shop-page .featured-products-sec h2{
		font-size: 24px;
	}
	.art-supply-shop-page .featured-products-sec p{
		font-size: 14px;
		margin-bottom: 20px;
	}
	.category-view-page .pagination-sec .next, .category-view-page .pagination-sec .back{
		width: 36px;
		height: 36px;
		line-height: 36px;
	}
	.category-view-page .pagination-sec .pagination{
		padding-top: 0px;
	}
	.category-view-page .pagination-sec .pagination>li>a{
		width: 36px;
		height: 36px;
		line-height: 26px;
		margin: 0 2px;
	}
	.auction-atrium-page .page-bannar .bannar-heading{
		font-size: 20px;
	}
	.auction-atrium-page .page-bannar{
		margin: 25px 0 25px;
	}
	.address-left {
	    padding-left: 15px;
	    padding-bottom: 15px;
	}
	.address-right {
	    padding-left: 15px;
	}
	.add-new-address {
		padding-top: 20px;
		padding-left: 0;
	}
	.shipping-method .shipping-method {
	    padding-bottom: 20px;
	    padding-top: 40px;
	}
	.shipping-method .address-left {
		padding-bottom: 0;
	}
	.shipping-method .address-box {
		margin-bottom: 15px;
	}
	.address-title {
	    font-size: 15px;
	}
	.process-btn-sec {
		margin-top: 40px;
	}
	.choose-payment .process-btn-sec {
		margin-top: 60px;
	}
	.secure-tag {
	    font-size: 14px;
	}
	.checkout-page {
		padding-bottom: 70px;
	}
	.card-dtl-form .col-sm-6.padding-r5 {
		padding-right: 15px;
	}
	.card-dtl-form .col-sm-6.padding-l5 {
		padding-left: 15px;
	}
	.complete-logo img {
	    max-width: 80px;
	}
	.complete-text {
	    font-size: 24px;
	    margin-top: 30px;
	}
	.event-page .tab-custom .event-list li .tab-content-inner .tab-text-content {
	    padding: 30px 20px 30px;
	}
	.event-detail-page .content .links-list {
		margin-bottom: 30px;
	}
	.art-dtl-left {
		padding-top: 30px;
	}
	.view-count {
		margin-top: 15px;
	}
	.art-details-page:after {
		display: none;
	}
	.vd-table {
		max-width: 270px;
		margin: 0 auto;
	}
	.action-box {
		padding-top: 15px;
	}
	.action-sec .col-sm-5 .blue-transparent-btn {
		width: 100%;
		max-width: 100%;
	}
	.video-wrap .border-l {
		border-left: none;
		border-top: solid 1px rgba(227, 227, 227, 0.31);
	}
	.art-detail-list .grid {
		grid-template-columns: 1fr 1fr 1fr;
	}
	.art-detail-list {
		padding-bottom: 70px;
	}
	.search-results-page .art-sale-list li {
		width: 33.33%;
	}
	.custom-tabs .nav-tabs {
		margin-bottom: 15px;
	}
	.search-results-page .search-results-title {
		margin-bottom: 20px;
	}
	.add-new-event-page {
		padding: 70px 0;
	}
	.add-new-event-tabs {
		margin-top: 0;
	}
	.add-new-event-tabs .nav-tabs {
		margin-bottom: 30px;
	}
	.manage-active-tab .inner-search {
		margin-top: 0;
	}
	.manage-event-box .me-left {
		height: 120px;
		width: 100%;
	}
	.manage-event-box .me-right-block {
		width: 100%;
		padding: 0 20px 20px;
	}
	.auction-atrium .col-sm-8.col-sm-offset-2 {
		padding-left: 10px;
		padding-right: 10px;
	}
	.auction-atrium .row,
	.art-circlesec .row {
		margin-left: 0;
		margin-right: 0;
	}
	.auction-atrium .row.m-top30,
	.art-circlesec .row.m-top30 {
		margin-left: -15px;
		margin-right: -15px;
	}
	.art-circlesec .row.m-top30 .row {
		margin-left: -15px;
		margin-right: -15px;
	}
	.without-box-table {
		display: block;
		float: left;
	}
	.without-box-left,
	.without-box-right {
		display: block;
		width: 100%;
		float: left;
	}
	.without-box-right {
		padding-left: 30px;
		padding-top: 20px;
	}
	.auction-atrium .item .detail-slid h5 {
		height: 45px;
		overflow: hidden;
	}

	/*-----24-10-2018-----*/
	.my-auctions-list li .m-a-inner-box .ma-left-img {
    /* float: left; */max-width: 100%;margin-right: 0px;display: block;width:100%;margin-bottom:20px;
    }
    .my-auctions-list li .m-a-inner-box .ma-right-block {display: block;overflow: hidden;width: 100%;position: relative;padding-right: 0;
    }
    .attr-nav > ul {
	    margin-right: 10px;
	}  
	.attr-nav > ul > li.search {
	    margin-right: 0px;
	}
	.left-tabs .nav-tabs{
		width: 100%;
	    text-align: left;
	    padding: 0 0 0;
	    margin-bottom: 15px;
	    margin-left: 0;
	}
	.left-tabs .nav-tabs li{
		display: inline-block;
		width: auto;
		background: #f6f6f6;
		float: none;
	}
	.left-tabs .nav-tabs li a{
		padding: 10px 15px;
	}
	.left-tabs .nav-tabs li a br{
		display: none;
	}
	.left-tabs .tab-content{
		margin-left: 0px;
		border-left: 0px;
		float: left;
		width: 100%;
	}
	.notification-page .notification-list{
		margin-top: 20px;
	}
	.notification-page{
		padding: 40px 0;
	}
	.notification-page .notification-list li .notification-table{
		padding: 15px 0;
	}
	.book-event-section{
		padding: 30px 0;
	}
	.book-event-section .full-calendar-section .fc-toolbar .fc-right .fc-button-group button, .book-event-section .full-calendar-section .fc-toolbar .fc-left .fc-today-button{
		font-size: 13px;
	}
	.book-event-section .full-calendar-section .fc-toolbar .fc-left .fc-button-group button{
		font-size: 15px;
	}
	.book-event-section .full-calendar-section .fc-toolbar .fc-center h2{
		font-size: 16px;
	}
	.art-circle-section .art-circle-inner{
		padding: 10px 10px 0px;
	}
	.left-tabs .nav-tabs li.active a {
		color: #fff; 
		background: #145caa; 
	}
	.artist-profile-inner .left-tabs {
		overflow: hidden; 
	}
}
@media (max-width: 600px) {
	.footer-links .col-sm-3:first-child {
		margin-left: 0; 
	}
	.footer-links .col-sm-3 {
	    width: 50%;
	}
	.subscribe .row {
	    max-width: 100%;
	    margin: 0 auto;
	}
	.subscribe .row .col-sm-6.col-xs-8 {
	    width: 65%;
	}
	.subscribe .row .col-sm-2.col-xs-4 {
	    width: 35%;
	}
	.top-head {
	    font-size: 26px;
	}
	.skeumo-mob p {
		padding-left: 15px;
		padding-right: 15px;
	}
	footer ul li a i {
	    margin: 0px 6px;
	}
	.subscribe h6 {
	    font-size: 25px;
	}
	.whysell-buy .top-head {
	    line-height: 38px;
	}
	.art-shopbg .art-text {
	    font-size: 26px;
	    line-height: 32px;
	}
	.main-heading {
		font-size: 26px;
	}
	.shopping-cart .main-heading {
		padding-left: 15px;
		padding-right: 15px;
	}
	.form-modal .modal-dialog{
		width: 94%;
	}
	.circle-cart-box{
		width: 280px;
		height: 280px;
		margin-top: 100px;
	}
	.cart-icon img{
		max-width: 230px;
	}
	.cart-empty-heading{
		font-size: 20px;
	}
	.cart-empty-text{
		font-size: 14px;
	}
	.artists-section .artists-list li{
		width: 100%;
	}
	.curators-section .curators-list li{
		width: 100%;
	}
	.art-blog-page .blog-main-content li .text-content-box{
		padding: 20px 0 10px;
	}
	.art-blog-page .blog-main-content li{
		min-height: 0px;
		margin-bottom: 40px;
	}
	.art-blog-page .blog-main-content li .text-content-box .date-info{
		margin-top: 0px;
		padding-top: 10px;
	}
	.art-blog-page .page-title .text-content .blog-h {
		font-size: 26px;
	}
	.art-blog-page .page-title .text-content .blog-p br {
		display: none;
	}
	.art-blog-detail-page .content-box .title{
		font-size: 26px;
	}
	.art-blog-detail-page .content-box .b-d-heading {
		font-size: 19px;
	}
	.comman-heading .title {
		font-size: 26px;
	}
	.comman-heading .sub-title br {
		display: none;
	}
	.curators-section .curators-list li .a-box .right-block .name {
		font-size: 16px;
	}
	.artists-section .artists-list li .a-box .right-block .name {
		font-size: 16px;
	}
	.sell-inner .art-steps .title {
		font-size: 21px;
	}
	.contact-us-section{
		padding: 50px 0;
	}
	.auction-atrium-page .page-bannar .bannar-content{
		left: 25px;
		bottom: 20px;
	}
	.payment-type ul li a {
		line-height: 68px;
	}
	.payment-type ul li a img {
		max-height: 35px;
	}
	table.payment-table-top tr td {
		padding: 15px;
	}
	table.payment-table-bottom tr td {
		padding: 15px;
		font-size: 14px;
	}
	table.payment-table-bottom tr:last-child td {
		padding: 15px;
	}
	table.payment-table-bottom tr td .blue-link {
	    font-size: 14px;
	}
	.filled-form .filled-label {
		line-height: 24px;
		font-size: 14px;
	}
	.sub-heading {
	    font-size: 16px;
	}
	.shipping-box ul {
		margin-left: -10px;
		margin-right: -10px; 
		padding: 10px 0;
	}
	.shipping-box ul li {
	    padding: 10px 10px;
	}
	.txt-icon img {
	    max-width: 30px;
	}
	.txt1 {
	    font-size: 14px;
	}
	.txt2 {
		font-size: 12px;
	}
	.complete-logo img {
	    max-width: 60px;
	}
	.complete-text {
	    font-size: 20px;
	}
	.invite-friends-page .by-email input, 
	.invite-friends-page .by-email input:focus {
		width: 65%;
		float: left;
	}
	.invite-friends-page .by-email button.btn {
		width: 35%;
	}
	.invite-friends-page .by-code .input-group {
		width: 100%;
		max-width: 100%;
	}
	.invite-friends-page .by-email.by-code button.btn {
		width: 35%;
		right: 0px;
		top: 0px;
		height: 49px;
	}
	.invite-friends-page .page-title {
		font-size: 26px;
	}
	.event-page .nav-tabs li a {
		margin: 0 30px; 
	}
	.event-page .nav-tabs li a, 
	.event-page .nav-tabs li.active a {
	    font-size: 16px;
	}
	.event-page .page-title {
	    font-size: 26px;
	}
	.event-page .tab-custom .event-list li .tab-content-inner .tab-text-content .tabs-h {
	    font-size: 20px;
	    line-height: 26px;
	}
	.event-page .tab-custom .event-list li .tab-content-inner .tab-text-content .date {
	    font-size: 26px;
	    text-align: center;
	}
	.event-page .tab-custom .event-list li .tab-content-inner .tab-text-content .date span {
		display: block;
		font-size: 14px;
	}
	.event-page .tab-custom .event-list li .tab-content-inner .tab-text-content .right-content {
	    padding-left: 75px;
	}
	.event-detail-page .content .tabs-h {
	    font-size: 24px;
	}
	.art-dtl-heading {
	    font-size: 26px;
	}
	.art-detail-list .grid {
		grid-template-columns: 1fr 1fr;
	}
	.search-results-page .art-sale-list li {
		width: 50%;
	}
	.manage-event-box .me-right-block .title-head {
	    font-size: 20px;
	    line-height: 26px;
	    margin-bottom: 5px;
	}
}
@media (max-width: 540px) {
	.sell-inner .art-steps{
		width: 100%;
	}
	.sell-inner .art-steps .drag-drop, .sell-inner .art-steps .img-box{
		margin-bottom: 50px;
	}
	.sell-inner .art-steps .title{
		margin-bottom: 20px;
	}
	.sell-inner .art-steps .bottom-row .blue-button{
		margin-bottom: 20px;
	}
	.sell-inner .art-steps .add-description .form-group.m-b-100{
		margin-bottom: 25px;
	}
	.sell-inner .art-steps .art-dimen .select-list{
		margin-bottom: 0px;
	}
	.sell-inner .art-steps .upload-audio .icon{
		margin-left: 22%;
	}
}
@media (max-width: 480px) {
	nav.navbar.bootsnav .navbar-header {
		padding-left: 0;
	}
	.attr-nav > ul > li > a {
		padding: 28px 10px;
	}
	.dropdown-list {
	    position: relative;
	}
	.login-sec ul li a {
	    padding: 10px 9px;
	}
	.mobile-inner-header {
		right: 0px;
	}
	.login-sec {
	    margin-right: 30px;
	}
	.attr-nav .dropdown-list.notification-list .dropdown-opt {
		left: -100px;
	}
	.attr-nav .dropdown-list.a-cart-list .dropdown-opt {
		right: -75px;
	}
	.search-list-div {
		width: 50%;
	}
	.search-list-sec {
	    padding: 0 0;
	}

	.search-list-sec .search-list-div:nth-child(3),
	.search-list-sec .search-list-div:nth-child(4),
	.search-list-sec .search-list-div:nth-child(5) {
		margin-top: 40px;
	}
	footer .col-xs-6 {
		width: 100%;
		float: left;
		text-align: center;
	}
	footer .col-xs-6 img {
		margin: 0 auto;
		display: block; 
	}
	footer ul.list-inline.anchor-s {
	    margin-top: 20px;
	}
	.copyright {
	    margin-top: 10px;
	}
	.section-banner .herocont .text-secbanner {
		padding-left: 0;
	}
	.section-banner .herocont .text-secbanner:before {
		display: none;
	}
	.sell-inner .art-steps .upload-audio .icon{
		margin-left: 18%;
	}
	.artists-section .bottom-load-button a{
		width: 100%;
	}
	.curators-section .bottom-load-button a{
		width: 100%;
	}
	.artist-profile-section .artist-profile-inner .art-sale-list li{
		width: 100%;
	}
	.artist-profile-section .artist-profile-inner .description{
		padding: 0 10px;
	}
	.artist-profile-section .artist-profile-inner .description br{
		display: none;
	}
	.category-view-page .grid{
		grid-template-columns: 1fr;
		grid-gap:10px;
	}
	.add-address-modal.form-modal .modal-dialog {
		width: 100%;
	}
	.custom-progress-bar .step {
		line-height: 17px;
		padding-top: 20px;
	}
	.invite-friends-page .page-title-sub br {
		display: none;
	}
	.event-page .tab-custom .event-list li .tab-content-inner .tab-text-content .date {
		width: 100%;
	}
	.event-page .tab-custom .event-list li .tab-content-inner .tab-text-content .date br {
		display: none;
	}
	.event-page .tab-custom .event-list li .tab-content-inner .tab-text-content .date span {
		display: inline-block;
		vertical-align: 2px;
		margin-left: 2px;
	}
	.event-page .tab-custom .event-list li .tab-content-inner .tab-text-content .right-content {
	    padding-left: 0;
	    padding-top: 10px;
	    width: 100%;
	    float: left;
	}
	.event-page .tab-custom .event-list li .tab-content-inner .tab-text-content .tabs-h {
	    font-size: 17px;
	    line-height: 24px;
	}
	.event-page .nav-tabs li a {
	    margin: 0 15px;
	}
	.event-page .tab-custom .event-list li .tab-content-inner .tab-text-content .date {
		font-size: 20px;
	}
	.event-page .tab-custom .event-list li .tab-content-inner .tab-text-content {
		padding: 15px;
	}
	.action-box li {
		width: 35%;
	}
	.action-box li:nth-child(2) {
		width: 45%;
	}
	.action-box li:last-child {
		width: 20%;
	}
	.search-results-page .custom-tabs .nav-tabs li {
		min-width: 90px; 
	}
	.add-event-tab-inner .add-event-upload-div {
		width: 100%;
	}
	.add-new-event-page .form-group {
	    margin-bottom: 20px;
	}
	.add-event-tab-inner .add-event-upload-div {
		margin-bottom: 0;
	}
	.add-event-tab-inner .bottom-button-row {
		margin-top: 40px;
	}
	.manage-event-box .me-right-block .button-grp a {
		min-width: inherit;
		width: 29%;
	}
	/*----24-10-2018-----*/
	.attr-nav ul li.search{margin-right:-20px!important;margin-left:0;}
	.book-event-section .full-calendar-section .fc-toolbar .fc-center{position: static;margin-top:20px;}
    .artist-profile-inner .my-auctions-list {float: left;width: 100%;padding: 0 20px 40px;margin: 0px;}
    .profile-menu.dropdown-list{margin-right:30px;}
    nav.navbar.bootsnav .navbar-brand{width:auto!important;}
    .attr-nav {float: right;display: inline-block;margin-left: 0;margin-right: -10px;}
    .attr-nav ul li.search a{margin-right: 20px;}
    .navbar-brand > img {max-width: 80px;}
    .dropdown-list .profile-icon{margin-right:0px;}
    footer .col-xs-3{width:100%;text-align:center;margin:0 auto;}
    footer .col-xs-3>img{margin:0 auto;}
    .notification-page .page-title{font-size:36px;}
    .upload-table{text-align:center;}
    .upload-table img{width:200px;}
    .art-detail-action-box.action-box {margin: 0; padding-top: 7px;}
    .art-detail-action-box.action-box li { width: 100% !important;padding: 7px 0;}
    .art-detail-action-box.action-box li a { width: 100%; max-width: 100%;}
}
@media (max-width: 420px) {
	.auction-atrium.supplies-art .row.m-top30 .col-sm-3 {
		width: 100%;
	}
	.section-banner .herocont .banner-hd {
		font-size: 26px;
	}
	.section-banner .herocont .banner-hd br {
		display: none;
	}
	.whysell-buy .thumb-img {
	    max-width: 180px;
	}
	.rs-p-left0 .col-xs-6 {
		padding-left: 15px;
		padding-right: 15px;
		width: 100%;
	}
	.subscribe .row .col-sm-6.col-xs-8 {
	    width: 100%;
	}
	.subscribe .row .col-sm-2.col-xs-4 {
	    width: 100%;
	    text-align: center;
	}
	.about-customers .ac-inner .ac-list li{
		width: 100%;
	}
	.about-top-section{
		padding-bottom: 20px;
	}

	.payment-type ul {
		text-align: center;
	}
	.payment-type ul li {
		width: 49%;
		float: none;
		display: inline-block;
	}
	.payment-type ul li:nth-child(3) {
		margin-top: 20px;
	}
	.shipping-box ul li .sh-box {
		height: 86px;
		padding: 23px 0;
	}
	.shipping-box ul li .sh-box img {
		max-height: 40px; 
	}
	.add-event-tab-inner .row .col-xs-8 {
		width: 55%;
	}
	.add-event-tab-inner .row .col-xs-4 {
		width: 45%;
	}
	.add-event-tab-inner .bottom-button-row .blue-button {
		min-width: 100%;
	}
	.manage-event-box .me-right-block .button-grp a {
		min-width: inherit;
		width: 30%;
	}
}
@media (max-width: 400px) {
	.manage-event-box .me-right-block .button-grp a {
	    min-width: inherit;
	    width: 100%;
	    margin: 4px 0;
	}
	.favorite-artists-list {
    float: left;
    width: 100%;
    padding: 0 20px 70px;
    margin: 0px;
}
.crop-sec{margin-bottom: 30px}
}
@media (max-width: 380px) {
	.sell-inner .art-steps .add-description .top-img .img-name {
		display: block;
		overflow: inherit;
		width: 100%;
		float: left;
		margin-top: 10px;
	}
	.about-outstanding-team .aot-inner-list .aot-list li .aot-box{
		width: 260px;
	}
	.complete-payment-table {
		overflow-x: auto;
	}
	.complete-payment-table table {
		width: 380px;
	}
	.complete-payment-table table table {
		width: 100%;
	}
	.add-new-event-tabs .nav-tabs li a,
	.add-new-event-tabs .nav-tabs li.active a,
	.add-new-event-tabs .nav-tabs li.active a:hover {
		font-size: 13px;
	}
	.feedback-top-bar .card-header button {
		padding: 0;
	}
}
@media (max-width: 360px) {
	.art-detail-list .grid {
		grid-template-columns: 1fr;
	}
	.art-detail-list .grid .grid-item {
	    margin-bottom: 20px;
	}
	.search-results-page .art-sale-list li {
		width: 100%;
		padding-bottom: 20px;
	}
	.add-new-event-tabs .nav-tabs li {
		min-width: inherit;
		width: 33.33%;
	}
	.add-new-event-tabs .nav-tabs li a {
		padding-left: 5px;
		padding-right: 5px;
	}
}