<app-header></app-header>
<div class="email-verifaction-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12"><!--  col-sm-offset-1 col-lg-8 col-lg-offset-2 -->
                <div class="comman-heading text-center">
                    <div class="title verifaction-title">Congratulations, your Skeuomo account has been created! <br/>To activate your account, please verify your email address.</div>
                    <div class="sub-title">  
                    </div>
                </div>
            </div>
            <!-- <div class="col-sm-4 col-sm-offset-4">
                <button class="blue-btn" (click)="emailVerified();">Submit</button> 
            </div> -->
        </div>
    </div>
</div>
<app-footer></app-footer>