<app-header></app-header>
 
<div class="about-top-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12"><!--  col-sm-offset-1 col-lg-8 col-lg-offset-2 -->
                <div class="comman-heading">
                    <div class="title">About Skeuomo</div>
                    <div class="sub-title"><p>Just like the concept of skeuomorphism –where a digital object mimics its real world counterpart – our vision is to bring the traditional art community into the modern technological era! Why is this important us? Because we are artists too and believe art should be accessible to even the novice audience.</p>
                    <p>How will we do this? It’s pretty straight forward. We took today’s most commonly used apps/ services and built our own all-in-one art exclusive platform! For collectors we offer an unparalleled selection of one of kind artwork from emerging artists from around the world  ranging in all types of mediums, styles, genres, moods and prices all while providing artists’ with a digital environment to exhibit, promote and sell their work.  Skeuomo makes these connections seamless, easy and convenient through real instant engagements between collectors, artists and curators. Skeuomo is an art marketplace and social network for the art community.</p></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="about-top-img">
    <img src="assets/img/about-img-1.jpg" alt="Image">
</div>
<div class="about-goods">
    <div class="rows">
        <div class="col-half">
            <img src="assets/img/about-img-2.jpg" alt="Image">
        </div>
        <div class="col-half right-col">
            <div class="title">
                Global Art <br>marketplace
            </div>
            <div class="description">
                Whether you’re looking for a one of a kind center piece for your living room or the next piece for your curated art exhibition, Skeuomo offers a variety of selections to choose from. No matter your taste, mood or budget – our artists and curators have their own stories to share with you. Browse, and discover unique artwork from around the world and learn more about the unique talent and inspirations behind each piece. Buy, sell and share artwork without the hassle.
            </div>
        </div>
    </div>
    <div class="rows">
        <div class="col-half right-col">
            <div class="title">
                Social Art <br>Network
            </div>
            <div class="description">
                Whether you’re an art lover or art curious, you can connect directly with independent artists, curators and collectors from around the world. Add them to your favorites list for updates, share or curate content on Skeuomo’s Art Circle feed or message individual members in real-time.  Connect your favorite social accounts and share your profile, gallery or artworks with your friends and peers.
            </div>
        </div>
        <div class="col-half">
            <img src="assets/img/about-img-3.jpg" alt="Image">
        </div>
    </div>
</div>
<div class="about-our-world">
    <div class="container">
        <div class="comman-heading text-center">
            <div class="title">Our World.</div>
            <div class="sub-title">The world deserves a place for creative expression. Art is the only thing that has no boundaries.  We strongly believe that everyone can and should have a vibrant career doing what they love. We want to be a part of that journey.</div>
        </div>
        <div class="about-o-w-list">
            <ul class="o-w-list">
                <li>
                    <div class="o-w-box">
                        <div class="center-icon">
                            <img src="assets/img/a-icon-1.jpg" alt="Icon">
                        </div>
                        <div class="title">Arts sold</div>
                        <div class="description">New artworks added to Skeuomo every month.</div>
                    </div>  
                </li>
                <li>
                    <div class="o-w-box">
                        <div class="center-icon">
                            <img src="assets/img/a-icon-2.jpg" alt="Icon">
                        </div>
                        <div class="title">People connected</div>
                        <div class="description">Our community grows every day!</div>
                    </div>  
                </li>
                <li>
                    <div class="o-w-box">
                        <div class="center-icon">
                            <img src="assets/img/a-icon-3.jpg" alt="Icon">
                        </div>
                        <div class="title">All countries</div>
                        <div class="description">Our goal is to become a global art marketplace.</div>
                    </div>  
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="about-goods">
    <div class="rows">
        <div class="col-half">
            <img src="assets/img/about-img-4.jpg" alt="Image">
        </div>
        <div class="col-half right-col">
            <div class="title">
                Features
            </div>
            <div class="description font-20">
                We founded Skeuomo because we want to support and nurture creative expression in communities around the world. We wanted to give artists, curators and collectors easy to use features that enable them to focus more on art rather than sales, marketing or technology.
            </div>
        </div>
    </div>
</div>
<!-- <div class="about-outstanding-team">
    <div class="container">
        <div class="comman-heading text-center">
            <div class="title">Outstanding Team</div>
            <div class="sub-title">We are proud to offer Skeuomo to our fellow artists, curators and collectors. We are passionate about art and technology and are always pushing ourselves on ways to merge the two seamlessly.  You are all part of the team. Your feedback and input makes us better at offering the best art app in the market. </div>
        </div>
        <div class="aot-inner-list">
            <ul class="aot-list">
                <li>
                    <div class="aot-box">
                        <div class="user-img">
                            <img src="assets/img/user-dummy-image.jpg" alt="Image">
                        </div>
                        <div class="name">Bruno Fontaine</div>
                        <div class="founder">Co-Founder + CTO</div>
                        <div class="social-link">
                            <a href="javascript:void(0);" class="fa fa-facebook"></a>
                            <a href="javascript:void(0);" class="fa fa-twitter"></a>
                            <a href="javascript:void(0);" class="fa fa-instagram"></a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="aot-box">
                        <div class="user-img">
                            <img src="assets/img/user-dummy-image.jpg" alt="Image">
                        </div>
                        <div class="name">Cesar Bohorquez Jr.</div>
                        <div class="founder">Founder + CEO</div>
                        <div class="social-link">
                            <a href="javascript:void(0);" class="fa fa-facebook"></a>
                            <a href="javascript:void(0);" class="fa fa-twitter"></a>
                            <a href="javascript:void(0);" class="fa fa-instagram"></a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="aot-box">
                        <div class="user-img">
                            <img src="assets/img/pranay-mathur.jpg" alt="Image">
                        </div>
                        <div class="name">Pranay Mathur</div>
                        <div class="founder">Co-Founder + CPO</div>
                        <div class="social-link">
                            <a href="javascript:void(0);" class="fa fa-facebook"></a>
                            <a href="javascript:void(0);" class="fa fa-twitter"></a>
                            <a href="javascript:void(0);" class="fa fa-instagram"></a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div> -->
<div class="about-customers">
    <div class="container">
        <div class="comman-heading text-center">
            <div class="title">Our Customers Grow Together.</div>
            <div class="sub-title">As part of the Skeuomo community, we are excited to support not only your growth as an artist, curator or collector but also as an art advocate. We support each other and engage through creativity and the stories we share with each other. </div>
        </div>
        <div class="ac-inner">
            <ul class="ac-list">
                <li>
                    <div class="brand">
                        <img src="assets/img/brand-1.png" alt="Image">
                    </div>
                </li>
                <li>
                    <div class="brand">
                        <img src="assets/img/brand-1.png" alt="Image">
                    </div>
                </li>
                <li>
                    <div class="brand">
                        <img src="assets/img/brand-1.png" alt="Image">
                    </div>
                </li>
                <li>
                    <div class="brand">
                        <img src="assets/img/brand-1.png" alt="Image">
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="rows">
    <section class="subscribe">
        <div class="col-sm-10 col-sm-offset-1">
            <h6>Sign up for our public beta launch in 2018! <br/>only 200 spots available now.</h6>
            <p>Excepteur sint occaecat cupidatat non proent, sunt in culpa qui official deserunt mollit anim sint id
                est laborum </p>
        </div>
        <div class="container">
            <form>
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-2 col-xs-8">
                        <div class="form-group">
                            <i class="fa fa-envelope"></i>
                            <input type="text" placeholder="Email Address" required class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-2 col-xs-4">
                        <input type="submit" value="SUBSCRIBE" class="btn-submit">
                    </div>
                </div>
            </form>
        </div>
    </section>
</div>
<app-footer></app-footer>