<app-header></app-header>
 <div class="invite-friends-page">
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                	<img src="assets/img/invite-img.png" alt="">
                    <div class="text-content">
                        <div class="page-title">Invite your friends to Skeuomo</div>
                        <div class="page-title-sub">Use the form to send them an invite, or copy the <br>invite link and send it manually</div>
                    </div>
                    <div class="by-email">
        	             <form action="#">
        	              <div class="input-group">
        	                 <input class="btn btn-lg" name="email" id="email" type="email" placeholder="Invite by email" required>
        	                 <button class="btn btn-info btn-lg" type="submit">Send</button>
        	              </div>
        	             </form>
        	    	 </div>
        	    	 <div class="or-divide">
        	    	 	or
        	    	 </div>
        	    	 <div class="by-email by-code">
        	             <form action="#">
        	              <div class="input-group">
        	                 <input class="btn btn-lg" type="email" placeholder="Invite by Code">
        	                 <button class="btn btn-info btn-lg" type="submit">COPY</button>
        	              </div>
        	             </form>
        	    	 </div>
                </div>
            </div>
        </div>
    </div>
<app-footer></app-footer>