<app-header></app-header>
<!--Banner-->
<div class="section-banner">
    <img src="../assets/img/banner-home.jpg" class="img-responsive">
    <div class="herocont">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="banner-hd">The world's leading online <br/>art gallery</h1>
                    <p class="text-secbanner">Discover new artwork by skeuomo artists from around the world</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--about Skeuomo section-->
<section class="about-skmo">
    <div class="container">
        <div class="row">
            <div class="about-skmo-left">
                <img src="../assets/img/about-skmo.jpeg" class="img-responsive">
            </div>
            <div class="about-skmo-right">
                <div class="about-text">
                    <h2 class="m-bottom30">What is Skeuomo?</h2>
                    <p>Skeuomo is the today's online art community – social network and art marketplace! We make it easier to connect, buy, sell and share artwork. Skeuomo was developed by an artist for artists. We enable artists and curators to freely express their creativity by providing an all in-one online tool to support creative your career.</p>
                    <p>We strongly believe that art isn't a predefined culture. Art is a combination of cultures, traditions, lifestyles and individual stories that makes art original and beautiful.</p>
                </div>
            </div>
            <a  [routerLink]="['/about-us']" class="learnmore ad">LEARN MORE <img src="../assets/img/next-arrow.png" /></a>
        </div>
    </div>
</section>
<!--about Skeuomo section end-->
<!--section why sell-->
<!-- <section class="whysell-buy">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 m-bottom50">
                <h2 class="top-head">Why <span class="grey"> sell</span> <span class="borde">buy</span> on Skeuomo?</h2>
            </div>
            <div class="col-sm-5">
                <ul class="nav nav-tabs whysell-tab">
                    <li class="active"><a data-toggle="tab" href="#home">Art Geo Map</a></li>
                    <li><a data-toggle="tab" href="#menu1">Artisan Galleria</a></li>
                     <li><a data-toggle="tab" href="#menu2">Auction Atrium</a></li>
                     <li><a data-toggle="tab" href="#menu3">Art Shop</a></li> 
                     <li><a data-toggle="tab" href="#menu4">Art Circle</a></li> 
                </ul>
            </div>
            <div class="col-sm-7 iner-content">
                <div class="tab-content">
                    <div id="home" class="tab-pane fade in active">
                        <img src="../assets/img/buysell-main.jpg" class="img-responsive img-buysell">
                        <div class="thumb-img">
                            <img src="../assets/img/buysell.jpg" class="img-responsive">
                        </div>
                    </div>
                    <div id="menu1" class="tab-pane fade">
                        <img src="../assets/img/buysell-main.jpg" class="img-responsive img-buysell">
                        <div class="thumb-img">
                            <img src="../assets/img/buysell.jpg" class="img-responsive">
                        </div>
                    </div>
                    <div id="menu2" class="tab-pane fade">
                        <img src="../assets/img/buysell-main.jpg" class="img-responsive img-buysell">
                        <div class="thumb-img">
                            <img src="../assets/img/buysell.jpg" class="img-responsive">
                        </div>
                    </div>
                    <div id="menu3" class="tab-pane fade">
                        <img src="../assets/img/buysell-main.jpg" class="img-responsive img-buysell">
                        <div class="thumb-img">
                            <img src="../assets/img/buysell.jpg" class="img-responsive">
                        </div>
                    </div>
                    <div id="menu4" class="tab-pane fade">
                        <img src="../assets/img/buysell-main.jpg" class="img-responsive img-buysell">
                        <div class="thumb-img">
                            <img src="../assets/img/buysell.jpg" class="img-responsive">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 m-top70">
                <p class="p-left16">Join the global art marketplace of new and renowned artists, curators and collectors!  It’s easy to sell, share and engage within Skeuomo’s art social network. For a subscription that’s less than your paint and canvas, you can take control of your artistic journey. </p>
            </div>
        </div>
    </div>
</section> -->
<!--End-->
<!--Featured section--->
<!-- <section class="about-skmo featured-skmo">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 col-md-offset-2 col-sm-3 col-sm-offset-1 featured-left">
                <h3 class="top-head">Featured</h3>
            </div>
            <div class="col-sm-7 p-right0 col-sm-offset-1 featured-right">
                <div class="featured-slider owl-carousel owl-theme featured">
                    <div class="item">
                        <img src="../assets/img/featured1.jpg" class="img-responsive">
                    </div>
                    <div class="item">
                        <img src="../assets/img/featured2.jpg" class="img-responsive">
                    </div>
                    <div class="item">
                        <img src="../assets/img/featured3.jpg" class="img-responsive">
                    </div>
                    <div class="item">
                        <img src="../assets/img/featured4.jpg" class="img-responsive">
                    </div>
                    <div class="item">
                        <img src="../assets/img/featured5.jpg" class="img-responsive">
                    </div>
                    <div class="item">
                        <img src="../assets/img/featured1.jpg" class="img-responsive">
                    </div>
                    <div class="item">
                        <img src="../assets/img/featured2.jpg" class="img-responsive">
                    </div>
                    <div class="item">
                        <img src="../assets/img/featured3.jpg" class="img-responsive">
                    </div>
                    <div class="item">
                        <img src="../assets/img/featured4.jpg" class="img-responsive">
                    </div>
                    <div class="item">
                        <img src="../assets/img/featured5.jpg" class="img-responsive">
                    </div>
                </div>
                <div class="featured-right-content">
                  <p class="text-style-1">Check out the latest artwork near you! Shop the most recently added artwork from independent artists around the world. No prints or reproductions…all originally crafted by your favorite artists. Want to learn more about what inspires them? Add them to your favorites, ask them questions or preview their Skeuomo profile.</p>
                  <a href="#" class="learnmore ">BROWSE More <img src="../assets/img/next-arrow.png"/> </a>
              </div>
            </div>
        </div>
    </div>
</section> -->
<!--End-->
<!--Art Category-->
<section class="art-category">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 art-bottom20 m-top15">
                <h2 class="top-head">Art Categories</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="cat-img">
                    <a href="#">
                        <img src="../assets/img/cat1.png" class="img-responsive">
                        <h4 class="cat-name">Still Life</h4>
                    </a>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="cat-img">
                    <a href="#">
                        <img src="../assets/img/cat2.png" class="img-responsive">
                        <h4 class="cat-name">Architecture</h4>
                    </a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4">
                <div class="cat-img">
                    <a href="#">
                        <img src="../assets/img/cat3.png" class="img-responsive">
                        <h4 class="cat-name">Abstract</h4>
                    </a>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="cat-img">
                    <a href="#">
                        <img src="../assets/img/cat4.png" class="img-responsive">
                        <h4 class="cat-name">Graffiti</h4>
                    </a>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="cat-img">
                    <a href="#">
                        <img src="../assets/img/cat5.png" class="img-responsive">
                        <h4 class="cat-name">Represent-ational</h4>
                    </a>
                </div>
            </div>
            <div class="clearfix col-sm-12 text-right">
                <a href="#" class="view-all-categories">VIEW ALL CATEGORIES <img src="../assets/img/next-arrow.png" /> </a>
            </div>
        </div>
    </div>
</section>
<!--End Art Category-->
<!--Artisan Galleria-->
<section class="artisan">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <h2 class="top-head">Artisan Galleria</h2>
                <p class="sub-head">Discover new original artwork from around the world, meet the artists and learn their unique stories and inspiration behind each piece. Are you looking to add something “Fierce or Happy” to your collection? Now you can search artwork based on by moods.</p>
            </div>
        </div>
        <div class="row art-margin-t-50">
            <div class="flexbox">
                <div class="col-sm-4">
                    <div class="artisian-img">
                        <img src="../assets/img/art-placeholder.jpg" class="img-responsive">
                        <div class="detail">
                            <h4>CityScapes</h4>
                            <p>By: Arnold Thomson</p>
                            <p class="price">$1,289</p>
                            <a href="#" class="right-arrow"><img src="../assets/img/next-arrow.png"/></a>
                        </div>
                    </div>
                    <div class="artisian-img">
                        <img src="../assets/img/art-placeholder4.jpg" class="img-responsive">
                        <div class="detail">
                            <h4>CityScapes</h4>
                            <p>By: Arnold Thomson</p>
                            <p class="price">$1,289</p>
                            <a href="#" class="right-arrow"><img src="../assets/img/next-arrow.png"/></a>
                        </div>
                    </div>
                    <div class="artisian-img">
                        <img src="../assets/img/art-placeholder8.jpg" class="img-responsive">
                        <div class="detail">
                            <h4>CityScapes</h4>
                            <p>By: Arnold Thomson</p>
                            <p class="price">$1,289</p>
                            <a href="#" class="right-arrow"><img src="../assets/img/next-arrow.png"/></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="artisian-img">
                        <img src="../assets/img/art-placeholder2.jpg" class="img-responsive">
                        <div class="detail">
                            <h4>CityScapes</h4>
                            <p>By: Arnold Thomson</p>
                            <p class="price">$1,289</p>
                            <a href="#" class="right-arrow"><img src="../assets/img/next-arrow.png"/></a>
                        </div>
                    </div>
                    <div class="artisian-img">
                        <img src="../assets/img/art-placeholder5.jpg" class="img-responsive">
                        <div class="detail">
                            <h4>CityScapes</h4>
                            <p>By: Arnold Thomson</p>
                            <p class="price">$1,289</p>
                            <a href="#" class="right-arrow"><img src="../assets/img/next-arrow.png"/></a>
                        </div>
                    </div>
                    <div class="artisian-img">
                        <img src="../assets/img/art-placeholder6.jpg" class="img-responsive">
                        <div class="detail">
                            <h4>CityScapes</h4>
                            <p>By: Arnold Thomson</p>
                            <p class="price">$1,289</p>
                            <a href="#" class="right-arrow"><img src="../assets/img/next-arrow.png"/></a>
                        </div>
                    </div>
                    <div class="artisian-img">
                        <img src="../assets/img/art-placeholder9.jpg" class="img-responsive">
                        <div class="detail">
                            <h4>CityScapes</h4>
                            <p>By: Arnold Thomson</p>
                            <p class="price">$1,289</p>
                            <a href="#" class="right-arrow"><img src="../assets/img/next-arrow.png"/></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="artisian-img">
                        <img src="../assets/img/art-placeholder3.jpg" class="img-responsive">
                        <div class="detail">
                            <h4>CityScapes</h4>
                            <p>By: Arnold Thomson</p>
                            <p class="price">$1,289</p>
                            <a href="#" class="right-arrow"><img src="../assets/img/next-arrow.png"/></a>
                        </div>
                    </div>
                    <div class="artisian-img">
                        <img src="../assets/img/art-placeholder7.jpg" class="img-responsive">
                        <div class="detail">
                            <h4>CityScapes</h4>
                            <p>By: Arnold Thomson</p>
                            <p class="price">$1,289</p>
                            <a href="#" class="right-arrow"><img src="../assets/img/next-arrow.png"/></a>
                        </div>
                    </div>
                    <div class="artisian-img">
                        <img src="../assets/img/art-placeholder10.jpg" class="img-responsive">
                        <div class="detail">
                            <h4>CityScapes</h4>
                            <p>By: Arnold Thomson</p>
                            <p class="price">$1,289</p>
                            <a href="#" class="right-arrow"><img src="../assets/img/next-arrow.png"/></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="clearfix col-sm-12 text-center">
            <a  href="artisan-galleria" class="view-all-galleria ">Artisan Galleria</a>
        </div> -->
          <div class="clearfix col-sm-12 text-right">
                <a  href="artisan-galleria" class="view-all-galleria">VIEW  ARTISAN GALLERIA <img src="../assets/img/next-arrow.png" /> </a>
            </div>
    </div>
</section>
<!--End Artisan Galleria-->
<!--Auction Atrium-->
<!-- <section class="auction-atrium">
    <div class="container-fluid p-a0">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <h2 class="top-head">Auction Atrium</h2>
                <p class="auction-sbhd">Place bids among budding collectors and search our variety of daily artwork auctions. From eclectic collections, themes and fine art, we're sure to have that piece you can't live without. Explore live auctions of original paintings, prints, photographs, and more by influential Modern and contemporary artists.</p>
            </div>
        </div>
        <div class="row m-top30">
            <div class="col-sm-12">
                <div class="slider-atriums owl-carousel owl-theme ">
                    <div class="item">
                        <a href="#">
                            <img src="../assets/img/auction-img2.png" class="img-responsive">
                            <div class="detail-slid">
                                <p>24 Jun 2017</p>
                                <h5>The Brave Give Oneself to The Unknown Future</h5>
                            </div>
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <img src="../assets/img/auction-img1.png" class="img-responsive">
                            <div class="detail-slid">
                                <p>28 May 2017</p>
                                <h5>Summer Wind of The  Seaside</h5>
                            </div>
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <img src="../assets/img/auction-img2.png" class="img-responsive">
                            <div class="detail-slid">
                                <p>24 Jun 2017</p>
                                <h5>The Brave Give Oneself to The Unknown Future</h5>
                            </div>
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <img src="../assets/img/auction-img1.png" class="img-responsive">
                            <div class="detail-slid">
                                <p>28 May 2017</p>
                                <h5>Summer Wind of The  Seaside</h5>
                            </div>
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <img src="../assets/img/auction-img2.png" class="img-responsive">
                            <div class="detail-slid">
                                <p>24 Jun 2017</p>
                                <h5>The Brave Give Oneself to The Unknown Future</h5>
                            </div>
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <img src="../assets/img/auction-img1.png" class="img-responsive">
                            <div class="detail-slid">
                                <p>28 May 2017</p>
                                <h5>Summer Wind of The  Seaside</h5>
                            </div>
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <img src="../assets/img/auction-img2.png" class="img-responsive">
                            <div class="detail-slid">
                                <p>24 Jun 2017</p>
                                <h5>The Brave Give Oneself to The Unknown Future</h5>
                            </div>
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <img src="../assets/img/auction-img1.png" class="img-responsive">
                            <div class="detail-slid">
                                <p>28 May 2017</p>
                                <h5>Summer Wind of The  Seaside</h5>
                            </div>
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <img src="../assets/img/auction-img2.png" class="img-responsive">
                            <div class="detail-slid">
                                <p>24 Jun 2017</p>
                                <h5>The Brave Give Oneself to The Unknown Future</h5>
                            </div>
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <img src="../assets/img/auction-img1.png" class="img-responsive">
                            <div class="detail-slid">
                                <p>28 May 2017</p>
                                <h5>Summer Wind of The  Seaside</h5>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->
<!--End Auction Atrium-->
<!--  ->
<section class="art-circlesec">
    <div class="container-fluid p-a0">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <h2 class="top-head">Art Circle</h2>
                <p class="auction-sbhd">Art Circle is an open social forum for Artists, Curators, and Collectors to share ideas, video, links, comments and images related to the art world. Everything from disruptive art trends to local or global events – let your peers’ weigh in! </p>
            </div>
        </div>
        <div class="row m-top30">
            <div class="col-sm-6 p-right0">
                <a href="#">
                    <div class="detail-artcirc detail-artcirc1">
                        <img src="../assets/img/art-circle.png" class="img-responsive">
                        <h5>Lola Hogan</h5>
                    </div>
                </a>
            </div>
            <div class="col-sm-6 p-left0 rs-p-left0">
                <div class="row">
                    <div class="col-xs-6 p-right0">
                        <a href="#">
                            <div class="detail-artcirc">
                                <img src="../assets/img/art-galright3.jpg" class="img-responsive art1">
                                <h5>Corey Reid</h5>
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-6 p-left0">
                        <a href="#">
                            <div class="detail-artcirc">
                                <img src="../assets/img/art-galright4.jpg" class="img-responsive art2">
                                <h5>Derrick Gordon</h5>
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-6 p-right0">
                        <a href="#">
                            <div class="detail-artcirc">
                                <img src="../assets/img/art-galright.png" class="img-responsive art3">
                                <h5>Bill Holt</h5>
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-6 p-left0">
                        <a href="#">
                            <div class="detail-artcirc">
                                <img src="../assets/img/art-galright2.png" class="img-responsive art4">
                                <h5>Sean Lawrence</h5>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End   ->
<!--Art Shop-->
<!-- <section class="art-shopbg">
    <div class="container">
        <div class="row">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 text-center">
                    <h2 class="top-head">Art-Shop</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 text-center">
                <div class="img-box">
                    <img src="../assets/img/art-placeholder4.jpg" class="img-mask">
                </div>
                <h3 class="art-text">"Art is a beautiful combination of unique <br/>cultures, traditions and personal
                    experiences".</h3>
                <a href="#" class="BtnName">VISIT SHOP</a>
            </div>
        </div>
    </div>
</section> -->
<!--End Art Shop-->
<!--Need Art Supplies-->
<section class="auction-atrium supplies-art">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <h2 class="top-head">Need Art Supplies?</h2>
                <p class="auction-sbhd">The Art Shop is currently under construction. The Art Shop offers exclusive member discounts for a variety of art supply brands and craft materials – replenish your art tools without breaking the bank. Stay tuned… </p>
            </div>
        </div>
        <div class="row m-top30">
            <div class="col-sm-3">
                <div class="supplies-img">
                    <a href="#"> <img src="../assets/img/drawing.png" class="img-responsive"></a>
                </div>
                <h5 class="drw-hd">DRAWING</h5>
                <h4>How to Draw Beautiful Plant
                    Illustrations</h4>
                <p>Art pencils, Sketchooks and sketch pads.</p>
            </div>
            <div class="col-sm-3">
                <div class="supplies-img">
                    <a href="#"><img src="../assets/img/drawing2.png" class="img-responsive"></a>
                </div>
                <h5 class="drw-hd">DRAWING</h5>
                <h4>How to Draw Beautiful Plant
                    Illustrations</h4>
                <p>Art pencils, Sketchooks and sketch pads.</p>
            </div>
            <div class="col-sm-3">
                <div class="supplies-img">
                    <a href="#"><img src="../assets/img/drawing3.png" class="img-responsive"></a>
                </div>
                <h5 class="drw-hd">DRAWING</h5>
                <h4>How to Draw Beautiful Plant
                    Illustrations</h4>
                <p>Art pencils, Sketchooks and sketch pads.</p>
            </div>
            <div class="col-sm-3">
                <div class="supplies-img">
                    <a href="#"><img src="../assets/img/drawing4.png" class="img-responsive"></a>
                </div>
                <h5 class="drw-hd">DRAWING</h5>
                <h4>How to Draw Beautiful Plant
                    Illustrations</h4>
                <p>Art pencils, Sketchooks and sketch pads.</p>
            </div>
        </div>
        <div class="row m-top70 m-bottom30">
            <div class="col-sm-12 text-center">
                <a class="visitshop" href="#printrecept" data-toggle="modal">VISIT SHOP <img src="../assets/img/next-arrow.png" /></a>
            </div>
        </div>
    </div>
</section>
<!--End Need Art Supplies-->

<!--Skeuomo on Mobile-->
<!-- <section class="skeumo-mob">
    <div class="container-fluid p-a0">
          <div class="row">
              <div class="col-sm-8 col-sm-offset-2 text-center">
                  <h2 class="top-head">Skeuomo on mobile</h2>
                  <p>All the Skeuomo features at your fingertips! Take Skeuomo wherever you go! It’s fast and easy to upload artwork, share, connect and search artwork from everywhere so you can focus on your next masterpiece. </p>
              </div>
          </div>
        <div class="row m-top30">
            <div class="col-sm-12 text-center">
                <div class="owl-carousel owl-theme slider-skmmob">
                    <div class="item">
                        <img src="../assets/img/screen-4.jpg" class="img-responsive">
                    </div>
                    <div class="item">
                        <img src="../assets/img/screen-2.jpg" class="img-responsive">
                    </div>
                    <div class="item">
                        <img src="../assets/img/screen-4.jpg" class="img-responsive">
                    </div>
                    <div class="item">
                        <img src="../assets/img/screen-2.jpg" class="img-responsive">
                    </div>
                    <div class="item">
                        <img src="../assets/img/screen-4.jpg" class="img-responsive">
                    </div>
                    <div class="item">
                        <img src="../assets/img/screen-2.jpg" class="img-responsive">
                    </div>
                    <div class="item">
                        <img src="../assets/img/screen-4.jpg" class="img-responsive">
                    </div>
                    <div class="item">
                        <img src="../assets/img/screen-2.jpg" class="img-responsive">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->
<!--End Skeuomo on Mobile-->
<!--Our Customers Say-->
<section class="customer-main">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <h2 class="top-head">What do our customers say?</h2>
                <p class="auction-sbhd">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                    fugiat.</p>
            </div>
        </div>
        <div class="row m-top50">
            <div class="col-sm-6 col-sm-offset-3 text-center">
                <div class="owl-carousel owl-theme slider-testimonial">
                    <div class="item">
                        <div class="test-img">
                            <img src="../assets/img/avatar.png" class="img-responsive">
                        </div>
                        <h4>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error.</h4>
                        <h5 class="m-top30">Leonard Werner, Art Collector</h5>
                    </div>
                    <div class="item">
                        <div class="test-img">
                            <img src="../assets/img/avatar1.png" class="img-responsive">
                        </div>
                        <h4>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error.</h4>
                        <h5 class="m-top30">Leonard Werner, Art Collector</h5>
                    </div>
                    <div class="item">
                        <div class="test-img">
                            <img src="../assets/img/avatar2.png" class="img-responsive">
                        </div>
                        <h4>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error.</h4>
                        <h5 class="m-top30">Leonard Werner, Art Collector</h5>
                    </div>
                    <div class="item">
                        <div class="test-img">
                            <img src="../assets/img/avatar3.png" class="img-responsive">
                        </div>
                        <h4>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error.</h4>
                        <h5 class="m-top30">Leonard Werner, Art Collector</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="circle-icon circle1">
      <img src="../assets/img/avatar_2.png" />
    </div>
    <div class="circle-icon circle2">
      <img src="../assets/img/avatar_7.png" />
    </div>
    <div class="circle-icon circle3">
      <img src="../assets/img/avatar_9.png" />
    </div>
    <div class="circle-icon circle4">
      <img src="../assets/img/avatar_5.png" />
    </div>
    <div class="circle-icon circle5">
      <img src="../assets/img/avatar_6.png" />
    </div>
    <div class="circle-icon circle6">
      <img src="../assets/img/avatar_5.png" />
    </div>
    <div class="circle-icon circle7">
      <img src="../assets/img/avatar_8.png" />
    </div>
    <div class="circle-icon circle8">
      <img src="../assets/img/avatar_3.png" />
    </div>
</section>
<!--End Our Customers Say-->
<!---->
<section class="subscribe">
      <div class="col-sm-10 col-sm-offset-1">
          <h6>Sign up for our public beta launch in 2018! <br/>only 200 spots available now.</h6>
          <p>Excepteur sint occaecat cupidatat non proent, sunt in culpa qui official deserunt mollit anim sint id
              est laborum </p>
      </div>
    <div class="container">
        <form>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-2 col-xs-8">
                    <div class="form-group">
                        <i class="fa fa-envelope"></i>
                        <input type="text" placeholder="Email Address" required class="form-control">
                    </div>
                </div>
                <div class="col-sm-2 col-xs-4">
                    <input type="submit" value="SUBSCRIBE" class="btn-submit">
                </div>
            </div>
        </form>
    </div>
</section>
<app-footer></app-footer>
