<app-header></app-header>
<div class="art-blog-page">
    <div class="page-title">
        <div class="container">
            <div class="text-content">
                <div class="blog-h">Art Blog</div>
                <div class="blog-p">Creation is a team of passionate designers, developers and artists working in<br> print and digital. </div>
            </div>
        </div>
    </div>
    <div class="blog-banner">
        <img src="assets/img/blog-bannar.jpg" alt="blog-bannar">
    </div>
    <div class="blog-main-content">
        <div class="container">
            <ul>
                <li>
                    <div class="img-box">
                        <img src="assets/img/paint.jpg" alt="">
                        <a href="art-blog-detail" class="arrow-link">
                            <i class="fa fa-arrow-right"></i>
                        </a>
                    </div>
                    <div class="text-content-box">
                        <div class="title">
                            <a href="art-blog-detail">How To Play Texas Holdem For Beginners</a>
                        </div>
                        <p>Nulla vitae elit libero, a pharetra augue. Fusce dapibus, tellus ac cursus commodo, tortor mauris.</p>
                        <div class="date-info">
                            By Clayton  <span>/  24 Jun 2017</span>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="img-box">
                        <img src="assets/img/paint2.jpg" alt="">
                        <a href="art-blog-detail" class="arrow-link">
                            <i class="fa fa-arrow-right"></i>
                        </a>
                    </div>
                    <div class="text-content-box">
                        <div class="title">
                            <a href="art-blog-detail">Get Around Easily With A New York Limousine Service</a>
                        </div>
                        <p>Nulla vitae elit libero, a pharetra augue. Fusce dapibus, tellus ac cursus commodo, tortor mauris.</p>
                        <div class="date-info">
                            By Clayton  <span>/  24 Jun 2017</span>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="img-box">
                        <img src="assets/img/paint3.jpg" alt="">
                        <a href="art-blog-detail" class="arrow-link">
                            <i class="fa fa-arrow-right"></i>
                        </a>
                    </div>
                    <div class="text-content-box">
                        <div class="title">
                            <a href="art-blog-detail">Big Savings On Gas While You Travel</a>
                        </div>
                        <p>Nulla vitae elit libero, a pharetra augue. Fusce dapibus, tellus ac cursus commodo, tortor mauris.</p>
                        <div class="date-info">
                            By Clayton  <span>/  24 Jun 2017</span>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="img-box">
                        <img src="assets/img/paint5.jpg" alt="">
                        <a href="art-blog-detail" class="arrow-link">
                            <i class="fa fa-arrow-right"></i>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="img-box">
                        <img src="assets/img/pain4.jpg" alt="">
                        <a href="art-blog-detail" class="arrow-link">
                            <i class="fa fa-arrow-right"></i>
                        </a>
                    </div>
                    <div class="text-content-box">
                        <div class="title">
                            <a href="art-blog-detail">Hypnosis Money And 3 Major Motives Of Our Lives</a>
                        </div>
                        <p>Nulla vitae elit libero, a pharetra augue. Fusce dapibus, tellus ac cursus commodo, tortor mauris.</p>
                        <div class="date-info">
                            By Clayton  <span>/  24 Jun 2017</span>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="img-box">
                        <img src="assets/img/paint5.jpg" alt="">
                        <a href="art-blog-detail" class="arrow-link">
                            <i class="fa fa-arrow-right"></i>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<section class="subscribe rows">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <h6>Sign up for our public beta launch in 2018! only 200 spots available now.</h6>
                <p>Excepteur sint occaecat cupidatat non proent, sunt in culpa qui official deserunt mollit anim sint id
                    est laborum </p>
            </div>
        </div>
        <form>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-2 col-xs-8">
                    <div class="form-group">
                        <i class="fa fa-envelope"></i>
                        <input type="text" placeholder="Email Address" required="" class="form-control">
                    </div>
                </div>
                <div class="col-sm-2 col-xs-4">
                    <input type="submit" value="SUBSCRIBE" class="btn-submit">
                </div>
            </div>
        </form>
    </div>
</section>
<app-footer></app-footer>