<app-header></app-header>
<div class="sell-art-banner-wrap">
  <img src="assets/img/tab-img1.jpg" />
</div>
<div class="sell-inner art-without-login-wrap">
  <div class="container">
      <div class="row">
          <div class="col-sm-10 col-sm-offset-1">
              <div class="art-without-top">
                  <div class="main-sub-heading">Sell Your Artwork Its Easy!</div>
                  <div class="content">Join the global art marketplace of new and renowned artists, curators and collectors! It’s easy to sell, share and engage within Skeuomo’s art social network. For a subscription that’s less than your paint and canvas, you can take control of your artistic journey.</div>
              </div>
              <div class="art-without-box">
                  <div class="without-box-table">
                      <div class="without-box-left">
                          <img src="assets/img/apimg-9.jpg" />
                      </div>
                      <div class="without-box-right">
                          <ul>
                              <li><strong>Build your Professional Artist Profile</strong> – Create your own Artist Profile and Start Selling. Upload your art online to share and sell on the Skeuomo’s comprehensive art gallery.</li>
                              <li><strong>Keep Followers Engaged with Built-in live chat</strong> – followers can talk with artists to discover the inspiration behind each art piece. </li>
                              <li><strong>Share on social</strong> – Save time and gain exposure. Syndicate your posts to Etsy, eBay, Pinterest, Facebook, Twitter, Instagram and more. Post and share your journey on Skeuomo’s Art Circle page.</li>
                              <li><strong>Forget the studio space fees.  Create Live Art Exhibitions</strong> – Invite your followers and customers to your own live virtual art exhibition. </li>
                              <li><strong>Find other local artists</strong> – Skeuomo allows artists to connect with local artists.</li>
                          </ul>
                      </div>
                  </div>
              </div>
            
              <div class="button-row" >
                  <!-- <a href="artist-register" class="btn blue-btn">Get Started</a> -->
               
                  <button class="btn blue-btn" (click)="nextstep()">Get Started</button>
              </div>
           
          </div>
      </div>
  </div>
</div>
<app-footer></app-footer>